@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-[family-name:var(--font-geist-sans)] */
:root {
  --primary: #ea2127;
  --black: #000000;
  --black-background: #111111;
  --white: #ffffff;
  --white-background: #f6f5f5;
  --gray: #9b9b9b;
}

.text-stroke {
  -webkit-text-stroke: 2px var(--black);
  -webkit-text-fill-color: var(--white-background);
  paint-order: stroke fill;
}

h3 {
  font-family: var(--font-montserrat);
  font-size: 70px;
  line-height: 120%;
  letter-spacing: 0.5px;
}

h4 {
  font-family: var(--font-montserrat);
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.5px;
}

h5 {
  font-family: var(--font-montserrat);
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
